@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-authentication{
    background-image: url('./assets/backgrounds/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 93vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: '#F8F8F8';
}